In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Vivek\Downloads\customer_shopping_behavior.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [9]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
df.columns=df.columns.str.lower() #column names are change to lowercase

In [11]:
df.columns

Index(['customer id', 'age', 'gender', 'item purchased', 'category',
       'purchase amount (usd)', 'location', 'size', 'color', 'season',
       'review rating', 'subscription status', 'shipping type',
       'discount applied', 'promo code used', 'previous purchases',
       'payment method', 'frequency of purchases'],
      dtype='object')

In [12]:
df.columns=df.columns.str.replace(' ','_')

In [13]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [14]:
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [16]:
#create a column age_group
labels=['young adult','adult','middle_aged','senior',]
df['age_group']=pd.qcut(df['age'],q=4,labels=labels) #qcut is it splits ages into 4 equal sized groups basd on the data distribution and assigns the labels we defined

In [17]:
df[['age','age_group']].head(10)

   age    age_group
0   55  middle_aged
1   19  young adult
2   50  middle_aged
3   21  young adult
4   45  middle_aged
5   46  middle_aged
6   63       senior
7   27  young adult
8   26  young adult
9   57  middle_aged

In [18]:
# create mapping dictionary
frequency_mapping = {
    'Weekly': 7,
    'Bi-Weekly': 14,
    'Fortnightly': 14,
    'Monthly': 30,
    'Quarterly': 90,
    'Every 3 Months': 90,
    'Annually': 365
}
# map values to new column
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [19]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [20]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [21]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [26]:
df.drop(['promo_code_used'],axis=1)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle_aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,middle_aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,middle_aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,middle_aged,90

In [ ]:
pip install psycopg2-binary sqlalchemy

In [23]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 932.9 kB/s eta 0:00:18
   - -------------------------------------- 0.5/16.5 MB 932.9 kB/s eta 0:00:18
   - -------------------------------------- 0.8/16.5 MB 932.9 kB/s eta 0:00:17
   -- ------------------------------------- 1.0/16.5 MB 949.8 kB/s eta 0:00:17
   --- ------------------------------------ 1.3/16.5 MB 945.5 kB/s eta 0:00:17
   --- ------------------------------------ 1.3/16.5 MB 945.5 kB/s eta 0:00:17
   --- ------------------------------------ 1.6/16.5 MB 912.1 kB/s eta 0:00:17
   ---- ----------------------------------- 1.8/16.5 MB 932.3 kB/s eta 0:00:16
   ----- ---------------------------------- 2.1/16.5 MB 924.9 kB/s eta 0:00:16
   ----- ---------------------------------- 2.1/16.5 MB 924.9 kB/s eta 0:00:16
   ----- ---------------------------------- 2.4/16.5 MB 900.8 kB/s eta 0:00:16
   ------ --------------------------------- 2.6/16.5 MB 915.2 kB/s eta 0:00:16
   ------ --------------------------------- 2.9/16.5 MB 916.9 kB/s eta 0:00:15
   ------ --------------------------------- 2.9/16.5 MB 916.9 kB/s eta 0:00:15
   ------- -------------------------------- 3.1/16.5 MB 932.3 kB/s eta 0:00:15
   -------- ------------------------------- 3.4/16.5 MB 923.6 kB/s eta 0:00:15
   -------- ------------------------------- 3.4/16.5 MB 923.6 kB/s eta 0:00:15
   -------- ------------------------------- 3.7/16.5 MB 908.8 kB/s eta 0:00:15
   --------- ------------------------------ 3.9/16.5 MB 910.4 kB/s eta 0:00:14
   ---------- ----------------------------- 4.2/16.5 MB 902.1 kB/s eta 0:00:14
   ---------- ----------------------------- 4.2/16.5 MB 902.1 kB/s eta 0:00:14
   ---------- ----------------------------- 4.5/16.5 MB 903.9 kB/s eta 0:00:14
   ----------- ---------------------------- 4.7/16.5 MB 891.3 kB/s eta 0:00:14
   ----------- ---------------------------- 4.7/16.5 MB 891.3 kB/s eta 0:00:14
   ------------ --------------------------- 5.0/16.5 MB 891.0 kB/s eta 0:00:13
   ------------ --------------------------- 5.0/16.5 MB 891.0 kB/s eta 0:00:13
   ------------ --------------------------- 5.2/16.5 MB 861.6 kB/s eta 0:00:14
   ------------ --------------------------- 5.2/16.5 MB 861.6 kB/s eta 0:00:14
   ------------- -------------------------- 5.5/16.5 MB 841.0 kB/s eta 0:00:14
   ------------- -------------------------- 5.5/16.5 MB 841.0 kB/s eta 0:00:14
   ------------- -------------------------- 5.8/16.5 MB 835.0 kB/s eta 0:00:13
   ------------- -------------------------- 5.8/16.5 MB 835.0 kB/s eta 0:00:13
   ------------- -------------------------- 5.8/16.5 MB 835.0 kB/s eta 0:00:13
   -------------- ------------------------- 6.0/16.5 MB 805.9 kB/s eta 0:00:14
   --------------- ------------------------ 6.3/16.5 MB 810.7 kB/s eta 0:00:13
   --------------- ------------------------ 6.6/16.5 MB 820.2 kB/s eta 0:00:13
   ---------------- ----------------------- 6.8/16.5 MB 825.7 kB/s eta 0:00:12
   ---------------- ----------------------- 6.8/16.5 MB 825.7 kB/s eta 0:00:12
   ----------------- ---------------------- 7.1/16.5 MB 830.9 kB/s eta 0:00:12
   ----------------- ---------------------- 7.3/16.5 MB 837.3 kB/s eta 0:00:11
   ------------------ --------------------- 7.6/16.5 MB 831.4 kB/s eta 0:00:11
   ------------------ --------------------- 7.6/16.5 MB 831.4 kB/s eta 0:00:11
   ------------------- -------------------- 7.9/16.5 MB 837.4 kB/s eta 0:00:11
   ------------------- -------------------- 8.1/16.5 MB 838.9 kB/s eta 0:00:10
   -------------------- ------------------- 8.4/16.5 MB 843.0 kB/s eta 0:00:10
   -------------------- ------------------- 8.4/16.5 MB 843.0 kB/s eta 0:00:10
   -------------------- ------------------- 8.7/16.5 MB 841.6 kB/s eta 0:00:10
   --------------------- ------------------ 8.9/16.5 MB 841.4 kB/s eta 0:00:10
   --------------------- ------------------ 8.9/16.5 MB 841.4 kB/s eta 0:00:10
   ---------------------- ----------------- 9.2/16.5 MB 846.3 kB/s eta 0:00:09
   ---------------------- ----------------- 9.4/16.5 MB 846.2 kB/s eta 0:00:09
   ----------------------- ---------------- 9.7/16.5 MB 848.3 kB/s eta 0:00:09
   ----------------------- ---------------- 9.7/16.5 MB 848.3 kB/s eta 0:00:09
   ------------------------ --------------- 10.0/16.5 MB 842.3 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.5 MB 842.3 kB/s eta 0:00:08
   ------------------------ --------------- 10.2/16.5 MB 840.0 kB/s eta 0:00:08
   ------------------------- -------------- 10.5/16.5 MB 843.2 kB/s eta 0:00:08
   -------------------------- ------------- 10.7/16.5 MB 845.2 kB/s eta 0:00:07
   -------------------------- ------------- 10.7/16.5 MB 845.2 kB/s eta 0:00:07
   -------------------------- ------------- 11.0/16.5 MB 848.2 kB/s eta 0:00:07
   --------------------------- ------------ 11.3/16.5 MB 846.0 kB/s eta 0:00:07
   --------------------------- ------------ 11.3/16.5 MB 846.0 kB/s eta 0:00:07
   --------------------------- ------------ 11.5/16.5 MB 842.8 kB/s eta 0:00:06
   ---------------------------- ----------- 11.8/16.5 MB 846.6 kB/s eta 0:00:06
   ----------------------------- ---------- 12.1/16.5 MB 850.2 kB/s eta 0:00:06
   ----------------------------- ---------- 12.3/16.5 MB 852.8 kB/s eta 0:00:05
   ------------------------------ --------- 12.6/16.5 MB 857.1 kB/s eta 0:00:05
   ------------------------------ --------- 12.6/16.5 MB 857.1 kB/s eta 0:00:05
   ------------------------------- -------- 12.8/16.5 MB 858.5 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.5 MB 856.3 kB/s eta 0:00:04
   ------------------------------- -------- 13.1/16.5 MB 856.3 kB/s eta 0:00:04
   -------------------------------- ------- 13.4/16.5 MB 856.0 kB/s eta 0:00:04
   --------------------------------- ------ 13.6/16.5 MB 857.4 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.5 MB 860.4 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.5 MB 860.4 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.5 MB 862.5 kB/s eta 0:00:03
   ---------------------------------- ----- 14.2/16.5 MB 862.5 kB/s eta 0:00:03
   ---------------------------------- ----- 14.4/16.5 MB 854.7 kB/s eta 0:00:03
   ---------------------------------- ----- 14.4/16.5 MB 854.7 kB/s eta 0:00:03
   ---------------------------------- ----- 14.4/16.5 MB 854.7 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 840.4 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 842.7 kB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 846.3 kB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 846.3 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.5 MB 845.4 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 846.8 kB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 850.2 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 850.8 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 850.8 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 850.8 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 842.8 kB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
import mysql.connector
from sqlalchemy import create_engine

In [24]:
engine = create_engine(
    "mysql+mysqlconnector://root:1234@localhost:3306/Customer"
)

In [27]:
df.to_sql(
    name='customer_data',
    con=engine,
    if_exists='replace',   # use 'append' if table already exists
    index=False
)

3900

In [28]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:1234@localhost:3306/Customer"
)

In [29]:
df.to_sql(
    name='customer_data',
    con=engine,
    if_exists='replace',
    index=False
)

3900

In [30]:
import pandas as pd

pd.read_sql("DESCRIBE customer_data", engine)

                      Field    Type Null Key Default Extra
0               customer_id  bigint  YES        None
1                       age  bigint  YES        None
2                    gender    text  YES        None
3            item_purchased    text  YES        None
4                  category    text  YES        None
5           purchase_amount  bigint  YES        None
6                  location    text  YES        None
7                      size    text  YES        None
8                     color    text  YES        None
9                    season    text  YES        None
10            review_rating  double  YES        None
11      subscription_status    text  YES        None
12            shipping_type    text  YES        None
13         discount_applied    text  YES        None
14          promo_code_used    text  YES        None
15       previous_purchases  bigint  YES        None
16           payment_method    text  YES        None
17   frequency_of_purchases    text  YES        None
18                age_group    text  YES        None
19  purchase_frequency_days  bigint  YES        None

In [31]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:1234@localhost:3306/Customer"
)

df.to_sql(
    name='customer_data',
    con=engine,
    if_exists='replace',
    index=False
)

3900

In [32]:
import pandas as pd

pd.read_sql("SHOW COLUMNS FROM customer_data", engine)

                      Field    Type Null Key Default Extra
0               customer_id  bigint  YES        None
1                       age  bigint  YES        None
2                    gender    text  YES        None
3            item_purchased    text  YES        None
4                  category    text  YES        None
5           purchase_amount  bigint  YES        None
6                  location    text  YES        None
7                      size    text  YES        None
8                     color    text  YES        None
9                    season    text  YES        None
10            review_rating  double  YES        None
11      subscription_status    text  YES        None
12            shipping_type    text  YES        None
13         discount_applied    text  YES        None
14          promo_code_used    text  YES        None
15       previous_purchases  bigint  YES        None
16           payment_method    text  YES        None
17   frequency_of_purchases    text  YES        None
18                age_group    text  YES        None
19  purchase_frequency_days  bigint  YES        None

In [33]:
df = df.drop(columns=['promo_code_used'])
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [34]:
df.to_sql(
    'customer_data',
    engine,
    if_exists='replace',
    index=False
)

3900